<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">Back to Home Page</a>
            </div>
        </div>
    </nav>

    <div>
        <p>CS546 Final Project: Flashcards Plus</p>
        <p>Credit: Team One Punch Man</p>
        <p>Team Member: </p>
        <p class="name">Hanrun Li</p>
        <p class="name">Tianye Qi</p>
        <p class="name">Zheng Li</p>
        <p class="name">Gaojie Li</p>
    </div>
</body>