<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">User Profile</a>
            </div>
        </div>
    </nav>

    <div class="card">
        <img src="/images/saitamaSensai.jpg" alt="saitama" style="width:100%">
        <h1>{{ userInfo.username}}</h1>
        <p class="title">{{ userInfo.email }}</p>
        {{!-- <p>JiaLiDun University</p> --}}
        <div style="margin: 24px 0;">
            <a href="#">
                <i class="fa fa-dribbble"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <p>
            <button>Contact</button>
        </p>
    </div>

</body>


</html>